<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Game - Drifter.IO</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="/scripts/game/three.min.js"></script>
		<script type="text/javascript" src="/scripts/game/GLTFLoader.js"></script>
		<script type="text/javascript" src="/scripts/game/serverConnect.js"></script>
		<script type="text/javascript" src="/scripts/game/generators.js"></script>
		<script type="text/javascript" src="/scripts/game/Camera.js"></script>
		<script type="text/javascript" src="/scripts/game/inputManager.js"></script>
		<script type="text/javascript" src="/scripts/game/modelManager.js"></script>
		<script type="text/javascript" src="/scripts/game/lighting.js"></script>
		<script type="text/javascript" src="/scripts/game/main.js"></script>
		<style>
			body { margin: 0; overflow: hidden;}
			canvas {
				width: 100%; height: 100%;
			}
			.menu{
				position: absolute;
				top: 50%;
				left:50%;
				transform: translate(-50%,-50%);
				width: 50%;
				height: 75%;
				background-color: grey;
				display: none;
			}
		</style>
	</head>
	<body>
		<p style="display: none;" id="token"><%= token %></p>
		<p style="display: none;" id="ip"><%= ip %></p>
		<div class="menu">
			menu idea here.
		</div>
	</boby>
</html>
